<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form action="#" th:action="@{/user/login}" method="post">
  <p>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required/>
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required/>
  </p>
  <p>
    <button type="submit">Login</button>
  </p>
  <p th:if="${param.error}">
    <span style="color: red">Incorrect username or password</span>
  </p>
</form>
</body>
</html>
